.cartPage{
    h1{
        font-size: 1.25rem;
            font-weight: 700;
            letter-spacing: -.03em;
            margin-bottom: 0;
            color: #222529;
            padding-inline-start: 3em;
            padding-top: 1em;
    }
}
.contain{

    display: flex;
    justify-content: space-between;
    padding: 3em;
    
    .cartItems{
        width: 66.66666667%;
        // padding: 2em;
    
    }
    .summary{
        width: 33.33333333%;
        height: fit-content;
        border: 2px solid #e7e7e7;
        padding: 2em;
        h3{

            font-size: 1em;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: -.01em;
                margin-bottom: 20px;
                padding-bottom: .25rem;
                line-height: 19px;
                color: #222529;
        }
        .shipping{
            // border-color: #e7e7e7;
            border-block: 1px solid #e7e7e7;
            display: flex;
            justify-content: space-between;
                padding-left: 10px;
                padding: 1em;
                strong{
                    letter-spacing: -.01em;
                        font-size: 14px;
                        font-weight: 600;
                }
        }
        .totals{
            width: 100%;
            tr{
                display: flex;
                justify-content: space-between;
                padding-block: 1em;
                th{
                    text-align: left;
                    border: 0;
                        font-weight: 400;
                        color: #777;
                            font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                           font-size: small;
                           
                }
                td{
                    text-align: right;
                    font-weight: 400;
                        text-align: right;
                        color: #000;
                        font-size: small;
                }
            }
        }
        .checkout{

            button{
                width: 100%;
                    font-size: 15px;
                    letter-spacing: -.015em;
                    color: #fff;
                    background-color: #222529;
                    border: none;
                    text-transform: uppercase;
                    padding-block: 1em;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg{
                        font-size: 3em;
                    }

            }
        }
    
    }
}