.singlepost {
  height: 80vh;
//   width: 70%;
  background-color: #fff;
  position: relative;
//   margin-top: 2.5em;
  .popup_content {
    display: flex;
    gap: 2em;
    // text-align: left;
    justify-content: space-between;
    padding-block: 1em;
    padding-inline:5em ;

    .image {
      border: 1px solid rgba($color: $dark-color, $alpha: 0.1);
      padding: 1em;
      height: 80vh;

      img {
        // width: 100%;
        height: 100%;
      }
    }

    .info {
        padding-top: 1em;
      text-align: left;

      h2 {
        font-size: 1.875rem;
        line-height: 1.2;
        color: #222529;
        letter-spacing: -0.01em;
        font-weight: 700;
        margin-bottom: .2em;
      }

      .price-container {
        font-weight: 600;
        margin-top: 2em;

        .original-price {
          color: #a7a7a7;
          font-size: 0.8em;
          text-decoration: line-through;
        }

        .discounted-price {
          margin-right: 0.2em;
          font-size: 1.5rem;
          line-height: 1;
          letter-spacing: -0.02em;
          color: #222529;
        }
      }

      .desc {
        font-size: 1.1428em;
        line-height: 1.6875;
        letter-spacing: -0.015em;
        color: #777;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        margin-block: 2em;
      }

      .available {
        margin-bottom: 0.3em;

        p {
          font-size: 0.8571em;
          text-transform: uppercase;
          color: #777;
          font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial,
            sans-serif;
          font-style: normal;
          font-weight: 400;
          line-height: 1.4;

          span {
            color: #222529 !important;
            font-weight: 600;
          }
        }
      }

      .sku {
        margin-bottom: 0.3em;

        p {
          font-size: 0.8571em;
          text-transform: uppercase;
          color: #777;
          font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial,
            sans-serif;
          font-style: normal;
          font-weight: 400;
          line-height: 1.4;

          span {
            color: #222529 !important;
            font-weight: 600;
          }
        }
      }

      .size {
        display: flex;
        align-items: center;
        gap: 3em;
        margin-bottom: 0.3em;

        p {
          //   margin-left: 2em;
          font-size: 0.8571em;
          text-transform: uppercase;
          color: #777;
          font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial,
            sans-serif;
          font-style: normal;
          font-weight: 400;
          display: flex;
          gap: 1em;
          line-height: 1.4;
        }

        .boxes {
          display: flex;
          gap: 0.5em;

          .size1 {
            background: #f0f0f0;
            color: #949494;
            font-size: 1em;
            font-weight: 700;
            line-height: 20px;
            margin-right: 7px;
            min-width: 22px;
            padding: 4px 8px;
          }

          .size2 {
            background: #f0f0f0;
            color: #949494;
            font-size: 1em;
            font-weight: 700;
            line-height: 20px;
            margin-right: 7px;
            min-width: 22px;
            padding: 4px 8px;
          }

          .size3 {
            background: #f0f0f0;
            color: #949494;
            font-size: 1em;
            font-weight: 700;
            line-height: 20px;
            margin-right: 7px;
            min-width: 22px;
            padding: 4px 8px;
          }

          .size4 {
            background: #f0f0f0;
            color: #949494;
            font-size: 1em;
            font-weight: 700;
            line-height: 20px;
            margin-right: 7px;
            min-width: 22px;
            padding: 4px 8px;
          }
        }
      }

      .color {
        margin-bottom: 0.3em;
        display: flex;
        align-items: center;
        gap: 2em;

        p {
          font-size: 0.8571em;
          text-transform: uppercase;
          color: #777;
          font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial,
            sans-serif;
          font-style: normal;
          font-weight: 400;
          line-height: 1.4;
          display: flex;
          gap: 0.5em;
        }

        .colors {
          display: flex;
          gap: 0.5em;

          .color1 {
            border: 1px solid #dadada;
            //   padding-left: 7em;
            cursor: pointer;
            float: left;
            height: 20px;
            margin: 0 0.5em 0.25em 0;
            max-width: 100%;
            min-width: 23px;
            overflow: hidden;
            padding: 1px 2px;
            position: relative;
            text-align: center;
            text-overflow: ellipsis;
            background: #4a4a4a no-repeat center;
            background-size: initial;
          }

          .color2 {
            background: #0088cc no-repeat center;
            background-size: initial;
            border: 1px solid #dadada;
            cursor: pointer;
            float: left;
            height: 20px;
            margin: 0 0.5em 0.25em 0;
            max-width: 100%;
            min-width: 23px;
            overflow: hidden;
            padding: 1px 2px;
            position: relative;
            text-align: center;
            text-overflow: ellipsis;
          }

          .color3 {
            background: #946666 no-repeat center;
            background-size: initial;

            border: 1px solid #dadada;
            cursor: pointer;
            float: left;
            height: 20px;
            margin: 0 0.5em 0.25em 0;
            max-width: 100%;
            min-width: 23px;
            overflow: hidden;
            padding: 1px 2px;
            position: relative;
            text-align: center;
            text-overflow: ellipsis;
          }

          .color4 {
            background: #8f8f8f no-repeat center;
            background-size: initial;

            border: 1px solid #dadada;
            cursor: pointer;
            float: left;
            height: 20px;
            margin: 0 0.5em 0.25em 0;
            max-width: 100%;
            min-width: 23px;
            overflow: hidden;
            padding: 1px 2px;
            position: relative;
            text-align: center;
            text-overflow: ellipsis;
          }
        }
      }
      .cart {
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
        // margin: 2em;
        padding: 1em;

        button {
          text-transform: uppercase;
          font-size: 1em;
          letter-spacing: -0.015em;
          font-weight: 700;
          line-height: 3rem;
          color: #fff;
          height: 3rem;
          padding: 0 2em;

          overflow: hidden;
          text-transform: uppercase;
          font-size: 1em;
          letter-spacing: -0.015em;
          font-weight: 700;
          line-height: 3rem;

          background: #222529;
          display: flex;
          align-items: center;
          gap: 1em;

          svg {
            font-size: 1.3em;
          }
        }
      }

      .icons_2 {
        display: flex;
        align-items: center;
        gap: 1em;
        padding: 1em;

        svg {
          border-radius: 50%;
          width: 2em;
          height: 2em;
          border: 2px solid #ddd;
          padding: 0.35em;
        }
        .face:hover {
          svg {
            border: 0;
            color: white;
            background-color: #3b5998;
          }
        }
        .twitter:hover {
          svg {
            border: 0;
            color: white;
            background-color: black;
          }
        }
        .linkd:hover {
          svg {
            border: 0;
            color: white;
            background: #0073b2;
          }
        }
        .whatsapp:hover {
          svg {
            border: 0;
            color: white;
            background: #3c8a38;
          }
          .mail:hover {
            svg {
              border: 0;
              color: white;
              background: #dd4b39;
            }
          }
        }
      }
    }
  }
}
.details {
  padding: 2em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  .head {
      display: flex;
      align-items: center;
      gap: 2em;
      margin: 0 35px 0 0;
      color: #818692;
      padding: 0 0;
      font-weight: 700;
      text-transform: uppercase;
    border-bottom: 2px solid #e7e7e7;
    h3 {
       
        // border-bottom: 2px solid #e7e7e7;
        font-size: 1em;
        // line-height: 2em;
    }
    
    .active{
    padding: 20px 0;
      color: #222529;
      border-bottom: 2px solid #222529;
      z-index: 5;
    }
    h3:hover{
        color: #222529;
        padding: 20px 0;
        border-bottom: 2px solid #222529;
            z-index: 5;
    }
  }
  .value {
    padding-top: 2em;
    p{
        font-size: 14px;
            font-weight: 400;
            letter-spacing: .005em;
            line-height: 1.9;
            margin: 0 0 1.25rem;
            color: #777;
    }
    ul{
        padding-left: 38.5px;
            margin-bottom: 20px;
            li{
            color: #777;
            list-style: none;
                line-height: 1.5;
                padding-top: .5em;
                padding-bottom: .5em;
                margin: 0;
                display: flex;
                align-items: center;
                gap: 1em;
                svg{
                    color: #21293c;
                    font-size: 1.2em;
                }
        }
        p{
            font-size: 14px;
                font-weight: 400;
                letter-spacing: .005em;
                line-height: 1.9;
        }
    }
  }
}
